@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-rgb: rgb(246, 246, 246);
  --wamellow-rgb: rgb(226, 232, 240);
} */

:root {
  --background-rgb: rgb(13, 15, 17);
  --wamellow-rgb: rgb(23, 24, 28);
}

html {
  min-height: 100vh;
  min-height: 100svh;
  scroll-behavior: smooth;
}

@keyframes ScaleBlink {
  50% {
    transform: scale(1.2) rotate(12deg);
  }
}

.svg-max svg {
  height: 100%;
  width: 100%;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar {
  width: 6px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(139, 92, 246, 0.7);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 92, 246, 1);
}