@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(246, 246, 246);
  --wamellow-rgb: rgb(226, 232, 240);
}

.dark:root {
  --background-rgb: rgb(13, 15, 17);
  --wamellow-rgb: rgb(23, 24, 28);
}

html {
  min-height: 100vh;
  min-height: 100svh;
  scroll-behavior: smooth;
}

@keyframes ScaleBlink {
  50% {
    transform: scale(1.2) rotate(12deg);
  }
}

.svg-max svg {
  height: 100%;
  width: 100%;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar {
  width: 6px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(139, 92, 246, 0.7);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 92, 246, 1);
}

button.subpixel-antialiased:not(.w-unit-10):not(.default):not(.bg-secondary):not(.button-primary):not(.button-blurple):not(.button-underline),
a[role="button"]:not(.w-unit-10):not(.default):not(.bg-secondary):not(.button-primary):not(.button-blurple):not(.button-underline) {
  @apply dark:hover:bg-wamellow-light hover:bg-wamellow-100-light py-2 px-4 rounded-md duration-200 justify-center gap-2 items-center text-medium
}

.text-sm button.subpixel-antialiased,
.text-sm a[role="button"] {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button {
  @apply flex dark:text-neutral-300 text-neutral-700 dark:bg-wamellow bg-wamellow-100 dark:hover:bg-wamellow-light hover:bg-wamellow-100-light py-2 px-4 rounded-md duration-200 justify-center gap-2 items-center text-medium
}

.button-primary {
  @apply flex text-neutral-200 bg-violet-600 hover:bg-violet-600/80 py-2 px-4 rounded-md duration-200 justify-center gap-2 items-center text-medium
}

.button-blurple {
  @apply flex text-neutral-100 bg-blurple hover:bg-blurple-dark py-2 px-4 rounded-md duration-200 justify-center gap-2 items-center font-medium text-medium
}

.button-underline {
  @apply dark:text-neutral-300/90 text-neutral-700/90 border-b border-transparent hover:border-neutral-300/90 my-1.5 mx-3 flex items-center gap-2 w-min text-medium
}