@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
    --font-outfit: 'Outfit', sans-serif;
    --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
}

.dark {
      --wamellow: #ffffff0d;
      --wamellow-100: #ffffff1a;
      --wamellow-200: #ffffff33;

      --background-rgb: rgb(1, 0, 4);
      --wamellow-rgb: rgba(255, 255, 255, 0.16);

      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 260 3% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 0 0% 100%;
      --primary-foreground: 220.9 39.3% 89%;

      --secondary: 258 89% 66%;
      --secondary-foreground: 210 20% 98%;

      --flat: var(--secondary);
      --flat-foreground: 270 59% 85%;

      --muted: 260 3% 16%;
      --muted-foreground: 217 10% 65%;

      --accent: 258 89% 66%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 40.6;
      --destructive-foreground: 210 20% 98%;

      --border: 260 3% 16%;
      --input: 260 3% 16%;
      --ring: 258 89% 66%;
      --separator: 0 0% 100%;

      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
  }

@theme {
  --color-blurple: #5865f2;
  --color-blurple-dark: #454fbf;
  --color-discord-gray: #1c1d23;
  --color-foreground: hsl(var(--foreground));

  --color-wamellow: var(--wamellow);

  --color-wamellow-100: var(--wamellow-100);

  --color-wamellow-200: var(--wamellow-200);

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-flat: hsl(var(--flat));
  --color-flat-foreground: hsl(var(--flat-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-separator: hsl(var(--separator));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --width-128: 32rem;
  --width-160: 40rem;

  --text-xxs: 0.6rem;
  --text-medium: 1rem;

  --leading-medium: 1.5rem;

  --animate-progress: progress 1s infinite linear;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --transform-origin-left-right: 0% 50%;

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
      border-color: var(--color-gray-200, currentcolor);
    }
    * {
        @apply border-border;
    }
    svg {
        @apply shrink-0;
    }
    button {
        @apply cursor-pointer
    }
    html {
        background: var(--background-rgb);
    }
    body {
        font-family: var(--font-outfit), var(--font-noto-sans-jp), sans-serif;
        scroll-behavior: smooth;
        min-height: 100svh;
    }
}

div[id="bg"] {
    background-image: linear-gradient(175deg, rgb(66, 42, 126) 0%, var(--background-rgb) 75%);
}

@keyframes ScaleBlink {
    50% {
        transform: scale(1.2) rotate(12deg);
    }
}

.svg-max svg {
    height: 100%;
    width: 100%;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::selection {
    background-color: rgba(139, 92, 246, 0.6);
}

::-webkit-scrollbar {
    width: 4px;
    background: var(--background-rgb);
}

::-webkit-scrollbar-thumb {
    background: rgba(139, 92, 246, 0.6);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 92, 246, 1);
}

.animate-scroll {
    border: 2px solid rgb(139, 92, 246, 1);
    height: 2.2rem;
    position: relative;
    width: 20px;
}

.animate-scroll-wheel {
    animation: scroll 2.5s ease infinite;
    background: rgb(139, 92, 246, 1);
    border-radius: 1rem;
    height: 0.5rem;
    left: calc(50% - 1.5px);
    position: absolute;
    right: 50%;
    top: 8px;
    width: 3px;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.5rem);
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.animate-guilds {
    animation: updown 7s ease-in-out infinite;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1.1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-guilds-2 {
    animation: downup 8s ease-in-out infinite;
}

@keyframes downup {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.shake {
    position: relative;
    animation: shake 60ms infinite alternate;
}

@keyframes shake {
    0% {
        margin-right: 0px
    }

    50% {
        transform: rotate(1deg);
    }

    80% {
        transform: rotate(-1deg);
    }

    100% {
        margin-right: 10px
    }

}

audio {
    max-height: 2rem;
}

td:has(audio) {
    padding: 1px!important;
}

body[data-scroll-locked] {
  position: static !important;
}